<!-- Designer Generator v 7.2.0 - SPR 2020-24 4/12/2020 -->
<html>
 <head></head>
 <body>
  <div id="bc_VC_SUMARFEGKZ_961756" class="cb-breadcrumb" ng-if="!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude" ng-class="vc.viewState.VC_SUMARFEGKZ_961756.style"> 
   <ol class="breadcrumb"> 
    <li>Inicio</li> 
    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: !$last }"> {{ breadcrumb.label | translate }} </li> 
   </ol> 
  </div> 
  <!-- Inicio item VW_SUMARGZVYI_309--> 
  <div id="VC_SUMARFEGKZ_961756" ng-keydown="vc.viewState.keyDown($event)" class=" cb-view-container-root cb-view-container cb-group-layout" ng-class="{'container':!vc.isModal(this) && !vc.isDetailGrid(this) && !isDesignerInclude && true, 'container-fluid':vc.isModal(this) || isDesignerInclude || false, 'cb-invisible': !vc.loaded}"> 
   <div id="G_SUMARDZVME_526309" ng-show="vc.viewState.G_SUMARDZVME_526309.visible" ng-class="vc.viewState.G_SUMARDZVME_526309.style" class="cb-group cb-group-simple"> 
    <div kendo-validator="G_SUMARDZVME_526309" k-options="validatorOptions" id="G_SUMARDZVME_526309_VAL"> 
     <div class="form-vertical"> 
      <div class="row"> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_1RMFIHPAMXGRANJ_741309.visible"> 
        <div class="form-group cb-required" id="VA_1RMFIHPAMXGRANJ_741309_DIV"> 
         <label for="VA_1RMFIHPAMXGRANJ_741309" title="{{vc.viewState.VA_1RMFIHPAMXGRANJ_741309.label|translate:vc.viewState.VA_1RMFIHPAMXGRANJ_741309.labelArgs}}" ng-show="vc.viewState.VA_1RMFIHPAMXGRANJ_741309.visible" class="control-label">{{vc.viewState.VA_1RMFIHPAMXGRANJ_741309.label|translate:vc.viewState.VA_1RMFIHPAMXGRANJ_741309.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_1RMFIHPAMXGRANJ_741309" name="Operacion_numero1" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-ng-delay="vc.afterInitData" k-format="vc.viewState.VA_1RMFIHPAMXGRANJ_741309.format" k-decimals="vc.viewState.VA_1RMFIHPAMXGRANJ_741309.decimals" maxlength="6" k-ng-model="vc.model.Operacion.numero1" ng-model="vc.tmpModel.Operacion.numero1" ng-disabled="vc.viewState.VA_1RMFIHPAMXGRANJ_741309.disabled || vc.viewState.VA_1RMFIHPAMXGRANJ_741309.disabledingroup" ng-show="vc.viewState.VA_1RMFIHPAMXGRANJ_741309.visible" ng-readonly="vc.viewState.VA_1RMFIHPAMXGRANJ_741309.readonly" ng-class="vc.viewState.VA_1RMFIHPAMXGRANJ_741309.style" data-cobis-group="Group,G_SUMARDZVME_526309,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_1RMFIHPAMXGRANJ_741309.validationCode}}" data-required-msg="{{'INTRD.LBL_INTRD_NMERO1HGS_35521'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_7935ESOEFUDFDAI_313309.visible"> 
        <div class="form-group cb-required" id="VA_7935ESOEFUDFDAI_313309_DIV"> 
         <label for="VA_7935ESOEFUDFDAI_313309" title="{{vc.viewState.VA_7935ESOEFUDFDAI_313309.label|translate:vc.viewState.VA_7935ESOEFUDFDAI_313309.labelArgs}}" ng-show="vc.viewState.VA_7935ESOEFUDFDAI_313309.visible" class="control-label">{{vc.viewState.VA_7935ESOEFUDFDAI_313309.label|translate:vc.viewState.VA_7935ESOEFUDFDAI_313309.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_7935ESOEFUDFDAI_313309" name="Operacion_numero2" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-ng-delay="vc.afterInitData" k-format="vc.viewState.VA_7935ESOEFUDFDAI_313309.format" k-decimals="vc.viewState.VA_7935ESOEFUDFDAI_313309.decimals" maxlength="6" k-ng-model="vc.model.Operacion.numero2" ng-model="vc.tmpModel.Operacion.numero2" ng-disabled="vc.viewState.VA_7935ESOEFUDFDAI_313309.disabled || vc.viewState.VA_7935ESOEFUDFDAI_313309.disabledingroup" ng-show="vc.viewState.VA_7935ESOEFUDFDAI_313309.visible" ng-readonly="vc.viewState.VA_7935ESOEFUDFDAI_313309.readonly" ng-class="vc.viewState.VA_7935ESOEFUDFDAI_313309.style" data-cobis-group="Group,G_SUMARDZVME_526309,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_7935ESOEFUDFDAI_313309.validationCode}}" data-required-msg="{{'INTRD.LBL_INTRD_NMERO2RDY_28808'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_9650XPTOZUXNJVO_897309.visible"> 
        <div class="form-group cb-required" id="VA_9650XPTOZUXNJVO_897309_DIV"> 
         <label for="VA_9650XPTOZUXNJVO_897309" title="{{vc.viewState.VA_9650XPTOZUXNJVO_897309.label|translate:vc.viewState.VA_9650XPTOZUXNJVO_897309.labelArgs}}" ng-show="vc.viewState.VA_9650XPTOZUXNJVO_897309.visible" class="control-label">{{vc.viewState.VA_9650XPTOZUXNJVO_897309.label|translate:vc.viewState.VA_9650XPTOZUXNJVO_897309.labelArgs}}</label> 
         <div class="cb-control"> 
          <input id="VA_9650XPTOZUXNJVO_897309" name="Operacion_resultado" kendo-numeric-text-box k-spinners="false" k-step="0" datatypes-limit="N" k-ng-delay="vc.afterInitData" k-format="vc.viewState.VA_9650XPTOZUXNJVO_897309.format" k-decimals="vc.viewState.VA_9650XPTOZUXNJVO_897309.decimals" maxlength="6" k-ng-model="vc.model.Operacion.resultado" ng-model="vc.tmpModel.Operacion.resultado" ng-disabled="vc.viewState.VA_9650XPTOZUXNJVO_897309.disabled || vc.viewState.VA_9650XPTOZUXNJVO_897309.disabledingroup" ng-show="vc.viewState.VA_9650XPTOZUXNJVO_897309.visible" ng-readonly="vc.viewState.VA_9650XPTOZUXNJVO_897309.readonly" ng-class="vc.viewState.VA_9650XPTOZUXNJVO_897309.style" data-cobis-group="Group,G_SUMARDZVME_526309,0" ng-model-onblur required data-validation-code="{{vc.viewState.VA_9650XPTOZUXNJVO_897309.validationCode}}" data-required-msg="{{'INTRD.LBL_INTRD_RESULTAOO_58793'|translate}} {{'DSGNR.SYS_DSGNR_MSGREQURF_00032'|translate}}" /> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONSWFYPMA_947309.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONSWFYPMA_947309" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONSWFYPMA_947309','VA_VABUTTONSWFYPMA_947309',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONSWFYPMA_947309.disabled || vc.viewState.VA_VABUTTONSWFYPMA_947309.disabledingroup" ng-show="vc.viewState.VA_VABUTTONSWFYPMA_947309.visible" ng-class="vc.viewState.VA_VABUTTONSWFYPMA_947309.style"> {{vc.viewState.VA_VABUTTONSWFYPMA_947309.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
       <div class="col-xs-4" ng-show="vc.viewState.VA_VABUTTONILFFVKA_407309.visible"> 
        <div class="form-group"> 
         <label class="control-label">&nbsp;</label> 
         <div class="cb-control"> 
          <button id="VA_VABUTTONILFFVKA_407309" class="btn btn-default btn-block" ng-click="vc.executeCommand('VA_VABUTTONILFFVKA_407309','VA_VABUTTONILFFVKA_407309',validator,false, false,'', false)" ng-disabled="vc.viewState.VA_VABUTTONILFFVKA_407309.disabled || vc.viewState.VA_VABUTTONILFFVKA_407309.disabledingroup" ng-show="vc.viewState.VA_VABUTTONILFFVKA_407309.visible" ng-class="vc.viewState.VA_VABUTTONILFFVKA_407309.style"> {{vc.viewState.VA_VABUTTONILFFVKA_407309.label|translate}} </button> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <!-- Fin item VW_SUMARGZVYI_309--> 
  <div class="cb-view-loading cb-view-loading-preload"> 
   <div class="cb-view-loading-icon"></div> 
  </div> 
  <div class="cb-navbar cb-navbar-bottom" ng-if="vc.childVc && vc.autoSyncNavigation"> 
   <nav ng-class="vc.getCssClass('',['navbar', 'navbar-default'] ,{'navbar-fixed-bottom': (!vc.isModal(this) && !vc.isDetailGrid(this))})"> 
    <button id="T_INTRDSYCMDNDB_756_ACCEPT" class="btn btn-primary navbar-btn" ng-click="vc.accept(validator, $event, false, 'VC_SUMARFEGKZ_961756')" ng-disabled="vc.viewState.T_INTRDSYCMDNDB_756_ACCEPT.disabled || vc.viewState.T_INTRDSYCMDNDB_756_ACCEPT.disabledingroup" ng-show="vc.viewState.T_INTRDSYCMDNDB_756_ACCEPT.visible" ng-class="vc.viewState.T_INTRDSYCMDNDB_756_ACCEPT.style">{{'DSGNR.SYS_DSGNR_LBLACEPT0_00007'|translate}}</button> 
    <button id="T_INTRDSYCMDNDB_756_CANCEL" class="btn btn-default navbar-btn" ng-click="vc.cancel(validator, $event)" ng-disabled="vc.viewState.T_INTRDSYCMDNDB_756_CANCEL.disabled || vc.viewState.T_INTRDSYCMDNDB_756_CANCEL.disabledingroup" ng-show="vc.viewState.T_INTRDSYCMDNDB_756_CANCEL.visible" ng-class="vc.viewState.T_INTRDSYCMDNDB_756_CANCEL.style">{{'DSGNR.SYS_DSGNR_LBLCANCEL_00006'|translate}}</button> 
   </nav> 
  </div>
 </body>
</html>